<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title>Hidden in the Fog</title>
		<link rel='stylesheet' href='/static/main.css'>
		<link rel='shortcut icon' href='/static/favicon.png'>
	</head>
	<body>
		<main>
			<video
				controls
				width="100%"
				height="auto"
				preload="auto"
			  >
				<source src="{{.Video}}?direct" type="video/mp4" />
			</video>
		</main>
	</body>
</html>
