<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title>{{.Title}}</title>
		<link rel='stylesheet' href='/static/main.css'>
		<link rel='shortcut icon' href='/static/favicon.png'>
	</head>
	<body>
		<header>
			<h1>{{.Title}}</h1>
			<h2>by <a href="/{{.Directory}}">{{.Directory}}</a></h2>
		</header>
		<main>
			<video
				controls
				width="100%"
				height="auto"
				preload="auto" />
			<source src="{{.URL}}?direct" type="video/{{.Ext}}" />
			<track
				label="English"
				kind="subtitles"
				srclang="en"
				src="{{.VTT}}?direct"
				default />
			</video>
		</main>
	</body>
	<script>
		function storeCurrentTime(){
			const videos = document.getElementsByTagName("video");
			if (videos.length > 0) {
				video = videos[0];
				localStorage.setItem("{{.URL}}", video.currentTime);
			}
			console.log(videos);
		}

		function setCurrentTime(){
			const videos = document.getElementsByTagName("video");
			if (videos.length > 0) {
				video = videos[0];
				const time = localStorage.getItem("{{.URL}}");
				if (time) {
					video.currentTime = time;
				}
			}
		}

		setCurrentTime();

		setInterval(function(){
			storeCurrentTime()
		}, 15000)
	</script>
</html>
